body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ff0000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  background: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.register-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.register-box button {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.register-box button:hover {
  background: #218838;
}